Repository RobinHeidenis/Shopping-List-Backend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings=0

.lintstagedrc:

{
  "*.{css,less,scss,html,json,jsx,js,tsx,ts}": [
    "prettier --write"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint --max-warnings=0"
  ]
}

fix: 🐛 fixed the tests failing
  .eslintrc.js
  jest.config.js
  server/config/env.config.ts
  server/config/load-config.ts
  server/controllers/item.controller.ts
  server/index.ts
  server/middlewares/JWT.middleware.ts
  server/middlewares/error.middleware.ts
  server/server.ts
  server/util/error.ts
  tests/routes/delete/all/category.test.ts
  tests/routes/delete/all/item.test.ts
  tests/routes/delete/all/standardItem.test.ts
  tests/routes/delete/category.test.ts
  tests/routes/delete/item.test.ts
  tests/routes/delete/standardItem.test.ts
  tests/routes/get/all/category.test.ts
  tests/routes/get/all/item.test.ts
  tests/routes/get/all/standardItem.test.ts
  tests/routes/get/category.test.ts
  tests/routes/get/item.test.ts
  tests/routes/get/standardItem.test.ts
  tests/routes/patch/category.test.ts
  tests/routes/patch/item.test.ts
  tests/routes/patch/standardItem.test.ts
  tests/routes/post/category.test.ts
  tests/routes/post/item.test.ts
  tests/routes/post/sequences/item.test.ts
  tests/routes/post/standardItem.test.ts
  utils/db.ts
Due: prettier --write, eslint --max-warnings=0

chore: 🤖 removed todo comment
  server/routes/deprecated.routes.ts
Due: prettier --write, eslint --max-warnings=0

feat: 🎸 added partial updates, added yarn test to precommit
  .husky/pre-commit
  server/controllers/category.controller.ts
  server/controllers/item.controller.ts
  server/routes/item.routes.ts
  server/routes/standardItem.routes.ts
  server/validators/category.validator.ts
  server/validators/item.validator.ts
Due: prettier --write, eslint --max-warnings=0

feat: 🎸 added sequence updating on singular item
  server/controllers/item.controller.ts
  server/validators/item.validator.ts
Due: prettier --write, eslint --max-warnings=0

refactor: 💡 added express-validation for sequences route
  server/controllers/item.controller.ts
  server/index.ts
  server/middlewares/error.middleware.ts
  server/routes/item.routes.ts
  server/validators/item.validator.ts
  tests/routes/post/sequences/item.test.ts
Due: prettier --write, eslint --max-warnings=0

refactor: 💡 extracted config objects from index
  server/config/cors.config.ts
  server/config/sessionOptions.config.ts
  server/config/sessionStore.config.ts
  server/index.ts
  tests/db/db.test.ts
  tests/routes/delete/all/category.test.ts
  tests/routes/delete/all/item.test.ts
  tests/routes/delete/all/standardItem.test.ts
  tests/routes/delete/category.test.ts
  tests/routes/delete/item.test.ts
  tests/routes/delete/standardItem.test.ts
  tests/routes/get/all/category.test.ts
  tests/routes/get/all/item.test.ts
  tests/routes/get/all/standardItem.test.ts
  tests/routes/get/category.test.ts
  tests/routes/get/item.test.ts
  tests/routes/get/standardItem.test.ts
  tests/routes/patch/category.test.ts
  tests/routes/patch/item.test.ts
  tests/routes/patch/standardItem.test.ts
  tests/routes/post/category.test.ts
  tests/routes/post/item.test.ts
  tests/routes/post/sequences/item.test.ts
  tests/routes/post/standardItem.test.ts
Due: prettier --write, eslint --max-warnings=0

test: 💍 Extracted test setup and teardown functions to script
  jest.config.js
  tests/routes/delete/all/category.test.ts
  tests/routes/delete/all/item.test.ts
  tests/routes/delete/all/standardItem.test.ts
  tests/routes/delete/category.test.ts
  tests/routes/delete/item.test.ts
  tests/routes/delete/standardItem.test.ts
  tests/routes/get/all/category.test.ts
  tests/routes/get/all/item.test.ts
  tests/routes/get/all/standardItem.test.ts
  tests/routes/get/category.test.ts
  tests/routes/get/item.test.ts
  tests/routes/get/standardItem.test.ts
  tests/routes/patch/category.test.ts
  tests/routes/patch/item.test.ts
  tests/routes/patch/standardItem.test.ts
  tests/routes/post/category.test.ts
  tests/routes/post/item.test.ts
  tests/routes/post/sequences/item.test.ts
  tests/routes/post/standardItem.test.ts
  tests/scripts/setup.jest.ts
Due: prettier --write, eslint --max-warnings=0

refactor: 💡 extracted sequelize options
  server/config/sequelize.config.ts
  server/db.ts
Due: prettier --write, eslint --max-warnings=0

feat: 🎸 added categoryId existance check to create item routes
  server/controllers/item.controller.ts
  server/controllers/standardItem.controller.ts
  tests/routes/post/item.test.ts
  tests/routes/post/standardItem.test.ts
Due: prettier --write, eslint --max-warnings=0

refactor: 💡 added validation for authentication, refactors
  server/controllers/authentication.controller.ts
  server/controllers/standardItem.controller.ts
  server/routes/authentication.routes.ts
  server/validators/authentication.validator.ts
  server/validators/category.validator.ts
  server/validators/default.validator.ts
  server/validators/item.validator.ts
Due: prettier --write, eslint --max-warnings=0

refactor: 💡 boomified errors, updated tests
  server/exceptions/badRequest.exception.ts
  server/exceptions/database.exception.ts
  server/exceptions/invalidCredentials.exception.ts
  server/exceptions/noToken.exception.ts
  server/exceptions/recordNotFound.exception.ts
  server/exceptions/unauthorized.exception.ts
  server/middlewares/error.middleware.ts
  server/middlewares/validate.middleware.ts
  tests/routes/delete/category.test.ts
  tests/routes/delete/item.test.ts
  tests/routes/delete/standardItem.test.ts
  tests/routes/get/category.test.ts
  tests/routes/get/item.test.ts
  tests/routes/get/standardItem.test.ts
  tests/routes/patch/category.test.ts
  tests/routes/patch/item.test.ts
  tests/routes/patch/standardItem.test.ts
  tests/routes/post/category.test.ts
  tests/routes/post/item.test.ts
  tests/routes/post/sequences/item.test.ts
  tests/routes/post/standardItem.test.ts
Due: prettier --write, eslint --max-warnings=0

refactor: 💡 removed testdb container, changed configs
  docker-compose.yml
  server/config/env.config.ts
  server/config/sequelize.config.ts
Due: prettier --write, eslint --max-warnings=0

feat: 🎸 added removing checked items route and check route
  server/controllers/item.controller.ts
  server/interfaces/events/events.interface.ts
  server/routes/item.routes.ts
Due: prettier --write, eslint --max-warnings=0

feat: 🎸 refactored docker, added healthcheck for mysql
  .gitignore
  Dockerfile
  docker-compose.yml
  docker/mysql/startup.sql
  docker/wait-for
  package.json
  server/config/sessionOptions.config.ts
  server/db.ts
  server/seeders/seeder.ts
  server/server.ts
Due: prettier --write, eslint --max-warnings=0

chore: 🤖 updated packages
  package.json
  yarn.lock
Due: prettier --write

feat: 🎸 changed dockerfile to make a smaller image
  .dockerignore
  Dockerfile
  docker-compose.yml
  package.json
  server/controllers/authentication.controller.ts
Due: prettier --write, eslint --max-warnings=0

dockerfile update
  Dockerfile
Due: none

fix: 🐛 fixed issue with rpi alpine
  Dockerfile
Due: none

Create LICENSE
  LICENSE
Due: none

chore: 🤖 updated tsconfig base config version
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

Create .deepsource.toml
  .deepsource.toml
Due: none

Update .deepsource.toml
  .deepsource.toml
Due: none

feat: 🎸 add docker healthcheck, fixed couple bugs
  .husky/pre-commit
  Dockerfile
  package.json
  server/config/cors.config.ts
  server/config/env.config.ts
  server/config/sessionOptions.config.ts
  server/controllers/authentication.controller.ts
  server/controllers/standardItem.controller.ts
  server/index.ts
  server/routes/deprecated.routes.ts
  yarn.lock
Due: prettier --write, eslint --max-warnings=0

fix: 🐛 fixed production issue with session options
  server/config/sessionOptions.config.ts
Due: prettier --write, eslint --max-warnings=0

did stuff idk really
  .husky/pre-commit
  Dockerfile
  package.json
  server/config/cors.config.ts
  server/config/env.config.ts
  server/config/sessionOptions.config.ts
  server/controllers/authentication.controller.ts
  server/controllers/events.controller.ts
  server/controllers/item.controller.ts
  server/controllers/search.controller.ts
  server/controllers/standardItem.controller.ts
  server/index.ts
  server/routes/deprecated.routes.ts
  yarn.lock
Due: prettier --write, eslint --max-warnings=0
